@import url("https://fonts.googleapis.com/css?family=Open+Sans|Merriweather:400,600&display=swap");

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
    min-height: 100vh;
    color: #1a1a1a;
}

.cover {
    position: relative;
    min-height: 100vh;
    background: #e3f7fb;
}

.cover-border:nth-child(1) {
    position: absolute;
    top: 6.5rem;
    left: 0;
    width: 100%;
    height: 2vh;
    background: #214d67;
}

.cover-border:nth-child(2) {
    position: absolute;
    top: 0;
    right: 20vw;
    width: 2vh;
    height: 100%;
    background: linear-gradient(to bottom, #214d67, #e3f7fb);
}

.brand {
    font-size: 2rem;
    font-weight: 400;
}

.open-menu,
.close-menu {
    font-size: 2rem;
    cursor: pointer;
}

nav {
    padding: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    display: none;
    margin-right: 1rem;
    list-style: none;
    text-align: right;
}

.nav-list-item {
    margin: 0 1.5rem;
    display: inline-block;
    font-size: 1.2rem;
}

.nav-list-item a,
.menu-list-item a {
    color: #1a1a1a;
    text-decoration: none;
    position: relative;
}

.nav-list-item a::after,
.menu-list-item a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 4px;
    background: #628ba3;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 200ms ease-in;
}

.nav-list-item a:hover::after,
.menu-list-item a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.full-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f3f3f3;
    color: #1a1a1a;
    z-index: 10;
    display: none;
}

.close-menu {
    position: absolute;
    top: 5vh;
    right: 8%;
    color: #1a1a1a;
}

.menu-list {
    list-style: none;
    margin: 15vh auto;
    width: 84%;
}

.menu-list-item {
    font-size: 2rem;
    line-height: 2;
    font-weight: 600;
    text-align: right;
}

.cover-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.main-heading {
    font-size: 2.5rem;
    font-family: Merriweather, serif;
    font-weight: normal;
}

.cover-contacts {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

.cover-contact {
    padding: 0 1rem 1rem;
    font-size: 1.5rem;
}

.cover-contact a {
    color: #1a1a1a;
    text-decoration: none;
    transition: color 350ms ease-in-out;
}

.github-contact a:hover {
    color: #000;
}

.linkedin-contact a:hover {
    color: #0e76a8;
}

.email-contact a:hover {
    color: #ffdf00;
}

.cta-projects {
    position: relative;
    padding: 0.5rem 1.5rem;
    background-color: transparent;
    border: 2px solid #214d67;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    color: #1a1a1a;
    font-size: 1.2rem;
    transition: box-shadow 350ms ease-in-out;
}

.cta-projects:hover {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.cta-projects:active {
    transform: scale(0.95);
}

/* border animation */
.cta-projects::after,
.cta-projects::before {
    content: "";
    position: absolute;
    background: #e3f7fb;
    width: 4px;
    transition: all 350ms ease-in-out;
}

.cta-projects::before {
    bottom: 0;
    left: -3px;
    top: 50%;
}

.cta-projects::after {
    top: 0;
    right: -3px;
    bottom: 50%;
}

.cta-projects:hover:before {
    top: 0;
    bottom: 50%;
}

.cta-projects:hover:after {
    top: 50%;
    bottom: 0;
}

.cover-location {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    letter-spacing: 0.2rem;
    color: rgba(0, 0, 0, 0.5);
}

.content {
    background: #f3f3f3;
}

.content-heading {
    font-family: Merriweather, serif;
    font-size: 2.5rem;
    text-align: center;
    font-weight: 400;
    letter-spacing: 0.2rem;
    padding: 25vh 0;
}

button {
    font-family: Merriweather, serif;
}

.project-card {
    width: 100%;
    min-height: 100vh;
    position: relative;
}

/* alternate background and colour */
.project-card:nth-child(even) {
    background: #214d67;
    color: #f3f3f3;
}

.project-card:nth-child(odd) {
    background: #e3f7fb;
    color: #1a1a1a;
}

/* alternate tools list colour */
.project-card:nth-child(even) .project-body-tools-list-item {
    border: 1px solid #f3f3f3;
    color: #f3f3f3;
}

.project-card:nth-child(odd) .project-body-tools-list-item {
    border: 1px solid #1a1a1a;
    color: #1a1a1a;
}

/* alternate tools list hover opacity */
.project-card:nth-child(even) .project-body-tools-list-item:hover,
.project-card:nth-child(odd) .project-body-tools-list-item:hover {
    opacity: 1;
}

/* alternate go to project button colour */
.project-card:nth-child(even) .go-to-project-btn {
    background: #f3f3f3;
    color: #214d67;
}

.project-card:nth-child(odd) .go-to-project-btn {
    background: #1a1a1a;
    color: #f3f3f3;
}

.project-card:nth-child(even) .go-to-project-btn a {
    color: #214d67;
    text-decoration: none;
}

.project-card:nth-child(odd) .go-to-project-btn a {
    color: #f3f3f3;
    text-decoration: none;
}

.project-details {
    padding: 3rem 3rem 1rem;
    max-width: 450px;
}

.project-title {
    font-size: 1.4rem;
    padding-bottom: 0.5rem;
    font-family: Merriweather, serif;
    letter-spacing: 0.1rem;
}

.project-body-tools {
    padding: 0.5rem 0;
}

.project-body-tools-list {
    list-style-type: none;
    margin-top: 1rem;
}

.project-body-tools-list-item,
.go-to-project-btn {
    display: inline-block;
    opacity: 0.7;
    padding: 0.2rem 0.8rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 2rem;
    transition: opacity 350ms ease-in-out;
}

.go-to-project-btn {
    cursor: pointer;
    opacity: 1;
}

.project-img-box {
    padding: 2rem 1rem;
    max-width: 600px;
    margin: auto;
}

.project-img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
}

.content-section-heading {
    font-family: Merriweather, serif;
    letter-spacing: 0.1rem;
    text-align: center;
    padding-bottom: 1rem;
}

.about-container {
    min-height: 100vh;
    display: grid;
}

.about-section:first-child {
    background: #e3f7fb;
}

.about-section:nth-child(3) {
    background: #214d67;
    color: #f3f3f3;
}
.about-section:nth-child(2) {
    background: #628ba3;
    color: #f3f3f3;
}

.text-pb {
    padding-bottom: 1rem;
}

.about-section-side {
    padding: 2rem;
    line-height: 1.6rem;
}

.about-section-school {
    line-height: 1.4;
    padding: 0 1rem 1rem;
    flex: 1;
}

.about-section-school-date {
    font-weight: lighter;
    font-size: 0.8rem;
}

.skills-wrapper {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.skill {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill-logo {
    font-size: 3rem;
    margin: 0.5rem;
}

.contact-section {
    display: grid;
    background: #214d67;
    color: #f3f3f3;
}

.contacts {
    display: flex;
    justify-content: center;
}

.contact {
    margin: 3rem 2rem 2rem;
    text-align: center;
    font-size: 3rem;
}

.contact a {
    color: #f3f3f3;
    transition: color 350ms ease-in-out;
}

.cv-button {
    margin: 0 auto 3rem;
    max-width: 250px;
    color: #f3f3f3;
    text-decoration: none;
    border-color: #628ba3;
}

.cv-button::after,
.cv-button::before {
    background: #214d67;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    font-size: 0.8rem;
    background: #1a1a1a;
    color: #fff;
}

/* media queries */
@media (min-width: 768px) {
    .open-menu {
        display: none;
    }
    .nav-list {
        display: block;
    }
    .brand {
        font-size: 2.2rem;
    }
    .main-heading {
        font-size: 3rem;
    }
    .cover-contact {
        padding: 0 1.5rem 1rem;
        font-size: 2rem;
    }
    .cta-projects {
        font-size: 1.6rem;
    }
    .cover-border:nth-child(2) {
        left: 16rem;
    }
    .about-section-school-wrapper {
        display: flex;
    }
}

@media (min-width: 998px) {
    .project-img-box {
        display: inline-block;
        position: absolute;
        top: 10vh;
        max-width: 50vw;
    }

    .project-details {
        display: inline-block;
        position: absolute;
        max-width: 40vw;
        top: 0;
    }

    .project-card:nth-child(even) .project-details {
        left: 0;
    }

    .project-card:nth-child(odd) .project-details {
        right: 0;
        text-align: right;
    }

    .project-card:nth-child(even) .project-img-box {
        right: 5vw;
    }
    .project-card:nth-child(odd) .project-img-box {
        left: 5vw;
    }
    .about-container {
        grid-template-columns: 45% 55%;
        grid-template-rows: auto auto;
    }
    .about-section:nth-child(3) {
        grid-column: 1/2;
        grid-row: 1/3;
    }
}
