@import url('https://fonts.googleapis.com/css?family=Raleway:400,600&display=swap');

*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html{
    font-size: 18px;
    scroll-behavior: smooth;
}

body{
    font-family: 'Raleway', sans-serif;
}

.banner{
    width: 100vw;
    height: 100vh;
    background: #000020;
    background-image: radial-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.0)), url("../images/landscape-bg.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    transform-origin: bottom right;
    transition: transform ease-in-out .5s;
}

.hidden-menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ccc;
    z-index: -10000;
}

.hidden-menu ul{
    right: 0;
    margin: 1.5rem 2rem;
}

.hidden-menu ul li{
    text-align: right;
    padding-bottom: .5rem;
    list-style: none;
    font-size: 1.4rem;
}

nav{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.nav-list{
    width: 40%;
    min-width: 500px;
    margin-right: 1rem;
    display: flex;
    justify-content: space-around;
    padding: 1rem 1rem;
    list-style: none;
}

.nav-list-item{
    text-transform: uppercase;
}

.nav-list-item a{
    color: #fff;
    text-decoration: none;
    position: relative;
}

.nav-list-item a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 4px;
    background: #121212;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 350ms ease-in;
}

.nav-list-item a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.banner-inner{
    width: 100%;
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 400px;
}

.banner-text-header{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding: 1rem;
}

.banner-text-heading{
    font-weight: 600;
    font-size: 3rem;
    letter-spacing: 0.2rem;
    padding: .3rem;
    position: relative;
    z-index: 1;
}

.banner-text-heading::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: .3rem;
    width: 100%;
    height: Calc(100% - .6rem);
    background: #121212;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 350ms ease-in;
    z-index: -1;
}

/*.banner-text-heading:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}*/

.banner-text-job{
    font-weight: 400;
    font-size: 1rem;
    padding: .3rem;
    letter-spacing: 0.1rem;
    position: relative;
    z-index: 1;
}

.banner-text-job::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #121212;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 350ms ease-in;
    z-index: -1;
}

/*.banner-text-job:hover::after {
    transform: scaleX(1);
    transform-origin: right;
}*/

.banner-text-button{
    font-size: 1rem;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    margin: .5rem 0 1.5rem;
    background: white;
    color: black;
    border-radius: 10rem;
    border: none;
    z-index: 1;
    color: #000;
    text-decoration: none;
    font-weight: 600;
    transition: transform ease-in-out .3s;
}

.banner-text-button:hover{
    transform: translateY(-5px);
}

.banner-text-contacts{
    display: flex;
    justify-content: center;
}

.banner-text-contact{
    padding: 0 1rem;
    font-size: 2rem;
}

.banner-text-contact a{
    color: #fff;
    text-decoration: none;
    transition: color 350ms ease-in-out;
}

.github-contact a:hover{
    color: #211F1F;
}

.linkedin-contact a:hover{
    color: #0e76a8;
}

.container{
    width: 80%;
    max-width: 1000px;
    margin: auto;
}

.full-section{
    width: 100%;
    padding: 4rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.section-heading{
    padding-bottom: 2rem;
    font-size: 2rem;
    text-transform: uppercase;
}

.section-inner{
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.full-section:nth-child(even){
    background:#eee;
    color: #000;
}

.full-section:nth-child(odd){
    background:#121212;
    color: #fff;
}

.portfolio-card{
    flex: 1;
    text-align: left;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.portfolio-card:nth-child(2){
    margin: 0 2.5rem;
}

.portfolio-card-photo--outer{
    width: 100%;
    height: 150px;
    background: #ccc;
    overflow: hidden;
}

.portfolio-card-photo--inner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transition: transform 500ms ease-in-out;
    background-size: cover; 
    background-position: center;
}

#restaurant-card{
    background-image: url(../images/restaurant.jpg); 
}

#union-card{
    background-image: url(../images/union.jpg); 
}

.portfolio-card-photo--outer:hover .portfolio-card-photo--inner{
    transform: scale(1.2);
}

.portfolio-card-photo{
    width: 100%;
    height: 100%;
}

.portfolio-card-title{
    font-size: 1.2rem;
    font-weight: 600;
    padding: .5rem 0;
    position: relative;
    text-transform: uppercase;
}

.portfolio-card-title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: .5rem;
    width: 30%;
    height: 2px;
    background: #cbae86;
    transform-origin: right;
}

.portfolio-card-des {
    text-align: justify;
    padding-bottom: .5rem;
}

.portfolio-card-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.portfolio-card-button{
    padding: .5rem;
    text-transform: uppercase;
}